.field,
#radio-2,
#radio-3,
select {
  display: grid;
  grid-template-columns: 200px auto;
  grid-gap: 16px;
}

.field > label,
#radio-2 > label,
#radio-3 > label {
  padding: 0.5em 1.5em 0.5em 0;
  grid-column: 1 / 2;
}

.field > input {
  grid-column: 2 / 3;
}

#radio-2 > div,
#radio-3 > div {
  display: flex;
  flex-direction: row;
  grid-column: 2 / 3;
}
