#footer.ui.inverted.vertical.segment {
  text-align: center;
  padding: 30px;
}

#footer .list {
  width: 100%;
  text-align: center;
}

#footer .footer-item {
  border-right: none !important;
}

#footer a.item {
  text-decoration-line: none;
  border-bottom: none;
}

#footer .ui.list > a.item {
  color: #fff !important;
  border-right: 1px solid #fff;
  padding-right: 12px;
  font-size: 17px !important;
}

#footer p {
  color: #fff;
  text-align: center;
}

#footer .top-items {
  padding-bottom: 20px !important;
}

@media only screen and (width: 767px) {
  #footer .ui.list > a.item {
    font-size: 9px;
  }
}
