* {
  color: black;
}

h2 {
  font-size: 30px;
}

i {
  color: white;
}

a {
  border-bottom: 2px solid #4183c4;
}

#container {
  display: flex;
  justify-content: center;
  padding: 4% 0;
}

#container-segment {
  padding: 20px 40px 35px 40px;
}

#social-media {
  display: flex;
  justify-content: center;
}

#social-media > * {
  width: 365px;
  height: 60px;
  font-size: 20px;
  margin: 20px 15px;
}

#divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divider-item {
  width: 760px;
  text-transform: lowercase;
}

#input-form {
  display: flex;
  justify-content: center;
}

#input {
  width: 365px !important;
  height: 60px;
  margin: 20px 10px;
}

#login-button {
  width: 760px;
  height: 60px;
  font-size: 20px;
  margin-bottom: 10px;
}
