#login-container {
  display: flex;
  justify-content: center;
  padding: 2% 0;
}

#login-container-segment {
  padding: 20px 40px 35px 40px;
}

#login-social-media {
  display: flex;
  justify-content: center;
}

#login-social-media i {
  color: whitesmoke;
}

#login-social-media > * {
  width: 365px;
  height: 60px;
  font-size: 20px;
  margin: 20px 15px;
}

#login-divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-divider-item {
  width: 760px;
  text-transform: lowercase;
}

#login-input-form {
  display: flex;
  justify-content: center;
}

#login-input-email {
  width: 365px !important;
  height: 60px;
  margin: 20px 10px;
}

#login-input-password {
  width: 365px !important;
  height: 60px;
  margin: 20px 10px;
}

#login-submit-button {
  width: 760px;
  height: 60px;
  font-size: 20px;
  margin: 0 0 10px 0;
}
