* {
  color: black;
}

h2 {
  font-size: 30px;
}

a {
  border-bottom: 2px solid #4183c4;
}

#container {
  display: flex;
  justify-content: center;
  padding: 2%;
}

#container-segment {
  padding: 20px 40px 35px 40px;
}

#social-media {
  display: flex;
  justify-content: center;
}

#social-media i {
  color: whitesmoke;
}

#social-media > * {
  width: 365px;
  height: 60px;
  font-size: 20px;
  margin: 20px 15px;
}

#divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divider-item {
  width: 760px;
  text-transform: lowercase;
}

#signup-email-title {
  margin: 5px 0 25px 0;
}

#input-form {
  display: flex;
  justify-content: center;
}

#input {
  width: 365px !important;
  height: 60px;
  margin: 0 10px;
}

#input-email {
  width: 765px !important;
  height: 60px;
  margin: 5px 10px;
}

#checkbox {
  margin: 25px 0 20px 25px;
}

#checkbox > * {
  font-size: 25px;
  font-weight: bold;
}

#login-button {
  width: 765px;
  height: 60px;
  font-size: 20px;
}
