@media screen and (max-width: 767px) {
  .signup-container.ui.container {
    max-width: 475px !important;
  }
}

@media screen and (min-width: 768px) {
  .signup-container.ui.container {
    max-width: 725px !important;
  }
}

.signup-container h1.ui.header {
  max-width: 300px;
  margin: 0 auto 14px;
}

.form.ui.form.signup-form > * {
  margin-top: 20px;
}

.form.ui.form.signup-form input {
  min-height: 50px;
}

.form.ui.form.signup-form button {
  min-height: 50px;
}

.signup-form a {
  color: #d52484;
}

.social-signup.ui.button {
  width: 48%;
  display: inline-block;
  min-width: 205px;
  margin: 5px 6px;
  min-height: 50px;
}

.signup-container .ui.message {
  max-width: 300px;
  margin: 14px auto;
}
